<div class="board-form">
  <h3>{{ boardData ? "Edit Board" : "Create New Board" }}</h3>

  <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Board Name</label>
      <input
        type="text"
        name="name"
        formControlName="name"
        placeholder="eg. Web Design"
      />
    </div>

    <div formArrayName="columns">
      <label>Board Columns</label>

      @for (column of columns.controls; track $index) {
      <div class="column">
        <input type="text" formControlName="{{ $index }}" />
        <button (click)="removeColumn($index)" class="remove">X</button>
      </div>
      }
      <button (click)="addColumn()" class="moreColumns">+Add New Column</button>
    </div>

    <button type="submit">
      {{ boardData ? "Save Changes" : "Create New Board" }}
    </button>
  </form>
</div>
