<div class="board-form">
  <h3>{{ boardData ? "Edit Board" : "Create New Board" }}</h3>

  <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Board Name</label>
      <input
        type="text"
        name="name"
        formControlName="name"
        placeholder="eg. Web Design"
      />
    </div>

    <div formArrayName="columns">
      <label>Board Columns</label>

      @for (column of columns.controls; track $index) {
      <div class="column">
        <input type="text" formControlName="{{ $index }}" />
        <button (click)="removeColumn($index)" class="remove">
          <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg">
            <g fill="#828FA3" fill-rule="evenodd">
              <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
              <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
            </g>
          </svg>
        </button>
      </div>
      }
      <button (click)="addColumn()" class="moreColumns">+Add New Column</button>
    </div>

    <button [mat-dialog-close]="true" type="submit">
      {{ boardData ? "Save Changes" : "Create New Board" }}
    </button>
  </form>
</div>
