<div class="board-form">
  <h3>Add New Board</h3>

  <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
    <label for="name">Board Name</label>
    <input
      type="text"
      name="name"
      formControlName="name"
      placeholder="eg. Web Design"
    />

    <div formArrayName="columns">
      <h4>Board Columns</h4>

      @for (column of columns.controls; track $index) {
      <input type="text" formControlName="{{ $index }}" />
      <button (click)="removeColumn($index)" class="remove">X</button>
      }

      <button (click)="addColumn()">+Add New Column</button>
    </div>

    <button type="submit">Create New Board</button>
  </form>
</div>
