@use '../../../styles/variables' as *
@use '../../../styles/mixins' as *
@use '../../../styles/functions' as *

.page
    display: flex
    flex-direction: row

    .content
        width: 100%
        // overflow: scroll