<div class="task-modal">
  @if (task$ | async; as task) {

  <h4 class="task-name">{{ task.title }}</h4>

  <p class="task-description">{{ task.description }}</p>

  <div class="subtasks">
    <h4 class="subtitle">
      Subtasks ({{ completedSubtaskCount$ | async }} of
      {{ task.subtasks.length }})
    </h4>
    <ul>
      @for (subtask of task.subtasks; track $index) {
      <li [id]="task.id" [class]="subtask.isCompleted ? 'checked' : 'subtask'">
        <input
          type="checkbox"
          [checked]="subtask.isCompleted"
          (change)="updateSubtask($event)"
          [value]="subtask.title"
        />
        <span>{{ subtask.title }}</span>
      </li>
      }
    </ul>
  </div>

  <select (change)="updateTaskStatus($event)" name="status">
    @for (status of statuses; track $index) {
    <option [value]="status" [selected]="status === task.status">
      {{ status }}
    </option>
    }
  </select>

  <!-- Edit Task -->
  <button class="edit" (click)="openEditForm()">Edit Task</button>

  <!-- Delete Task -->
  <button class="delete" (click)="deleteTask()">Delete Task</button>
  }
</div>
