<div class="task-modal">
  <h4 class="task-name">{{ taskData.task.title }}</h4>

  <p class="task-description">{{ taskData.task.description }}</p>

  <div class="subtasks">
    <h4 class="subtitle">
      Subtasks ({{ completedSubtaskCount }} of
      {{ taskData.task.subtasks.length }})
    </h4>
    <ul>
      @for (subTask of taskData.task.subtasks; track $index) {
      <li [id]="taskData.task.id">
        <input
          (change)="updateSubtask($event)"
          type="checkbox"
          [checked]="subTask.isCompleted"
          [value]="subTask.title"
        />
        {{ subTask.title }}
      </li>
      }
    </ul>
  </div>

  <select (change)="updateTaskStatus($event)" name="status">
    @for (status of statuses; track $index) {
    <option [value]="status" [selected]="status === taskData.task.status">
      {{ status }}
    </option>
    }
  </select>

  <!-- Edit Task -->
  <button class="edit" (click)="openEditForm()">Edit Task</button>

  <!-- Delete Task -->
  <button class="delete" (click)="deleteTask(taskData.task.id)">
    Delete Task
  </button>
</div>
