@use './functions'
@use 'sass:map'

// Fonts
$font-stack: "Plus Jakarta Sans", sans-serif
$font-size: 15px

// Colors
$clr-main-purple: #635FC7
$clr-main-purple-hover: #A8A4FF
$clr-bg-dark: #20212C
$clr-dark-grey: #2B2C37
$clr-lines-dark: #3E3F4E
$clr-lines-light: #E4EBFA
$clr-bg-light: #F4F7FD
$clr-white: #FFFFFF
$clr-red: #EA5555
$clr-red-hover: #FF9898
$clr-text-main:#000112
$clr-text-secondary: #828FA3
$clr-btn-secondary: rgba(99, 95, 199, 0.10)
$clr-border: rgba(130, 143, 163, 0.25)
$clr-placeholder-light: #BFBFC3
$clr-placeholder-dark: #606169

$card-light-shadow: 0 4px 6px rgba(54, 78, 126, 0.10)
$card-dark-shadow: 0 4px 6px rgba(54, 78, 126, 0.10)