<div class="task-form">
  <h3>{{ task ? "Edit Task" : "Add New Task" }}</h3>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <label for="title">Title</label>
    <input
      type="text"
      formControlName="title"
      placeholder="eg. Take coffee break"
    />

    <label for="description">Description</label>
    <textarea
      rows="5"
      cols="30"
      formControlName="description"
      placeholder="e.g. It’s always good to take a break. This 15 minute break will recharge the batteries a little."
    ></textarea>

    <div formArrayName="subtasks">
      <h4>Subtasks</h4>

      @for (subtask of subtasks.controls; track $index) { @if ($index === 0) {
      <input
        type="text"
        formControlName="{{ $index }}"
        placeholder="eg. Make coffee"
      />
      } @else if ($index === 1) {
      <input
        type="text"
        formControlName="{{ $index }}"
        placeholder="eg. Drink coffe & smile"
      />

      } @else {
      <input type="text" formControlName="{{ $index }}" />
      }
      <button (click)="removeSubtask($index)" class="remove">X</button>
      }
      <button (click)="addSubtask()">+Add New Subtask</button>
    </div>

    <select name="status" formControlName="status">
      <option>Select Status</option>
      @for (status of statuses; track $index) {
      <option [value]="status">{{ status }}</option>
      }
    </select>

    <button type="submit">{{ task ? "Save Changes" : "Create Task" }}</button>
  </form>
</div>
