<div class="columns">
  @for (column of board.columns; track $index) {
  <div class="column">
    <h5 class="column-name">
      <span
        class="column-color"
        [style]="{ background: colorList[$index] }"
      ></span
      >{{ column.name }} ({{ column.tasks.length }})
    </h5>
    <ul class="tasks">
      @for (task of column.tasks; track $index) {
      <li>
        <app-task
          [taskId]="task.id"
          [boardId]="board.id"
          [status]="task.status"
        />
      </li>
      }
    </ul>
  </div>
  }
  <button class="add-column" (click)="openBoardForm()">+ New Column</button>
</div>
